# Pandas_Indexing_and_Selection

## 1. Data Selection in Series

### A. Series as dictionary

In [2]:
import pandas as pd

In [3]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [4]:
data['b']

0.5

In [5]:
'e' in data

False

In [18]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [19]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [20]:
data['a'] = 1.25
data

a    1.25
b    0.50
c    0.75
d    1.00
dtype: float64

### B. Series as one-dimensional array

In [21]:
# slicing by explicit index
data['a':'c']

a    1.25
b    0.50
c    0.75
dtype: float64

In [22]:
# slicing by implicit integer index
data[0:2]

a    1.25
b    0.50
dtype: float64

In [23]:
# masking
data[(data > 0.3) & (data < 0.8)]

b    0.50
c    0.75
dtype: float64

In [42]:
# fancy indexing
data[['a', 'e']]

a    1.25
e     NaN
dtype: float64

## 2. Indexing in Series (Indexers: loc, iloc)

### A. loc()    
Uses Location of the value for indexing

In [25]:
value = pd.Series(['a', 'b', 'c', 'e', 'f'], index=[1, 2, 3, 4, 5])
value

1    a
2    b
3    c
4    e
5    f
dtype: object

In [26]:
value.loc[1]

'a'

In [27]:
value.loc[1:3]

1    a
2    b
3    c
dtype: object

### B. iloc()

Uses index of teh v

In [28]:
value.iloc[1]

'b'

In [29]:
data.iloc[1:3]

b    0.50
c    0.75
dtype: float64

## 3. Data Selection in Dataframes

### A. Dataframe as a dictionary

In [30]:
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
population = pd.Series({'California': 38332521, 'Texas': 26448193,
                        'New York': 19651127, 'Florida': 19552860,
                        'Illinois': 12882135})
info = pd.DataFrame({'area':area, 'population':population})

info

              area  population
California  423967    38332521
Texas       695662    26448193
New York    141297    19651127
Florida     170312    19552860
Illinois    149995    12882135

In [31]:
info['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [32]:
info.area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

#### Adding a new Attribute

In [33]:
info['density'] = info['population'] / info['area']

info

              area  population     density
California  423967    38332521   90.413926
Texas       695662    26448193   38.018740
New York    141297    19651127  139.076746
Florida     170312    19552860  114.806121
Illinois    149995    12882135   85.883763

### B. DataFrame as two-dimensional array

In [34]:
info.values

array([[4.23967000e+05, 3.83325210e+07, 9.04139261e+01],
       [6.95662000e+05, 2.64481930e+07, 3.80187404e+01],
       [1.41297000e+05, 1.96511270e+07, 1.39076746e+02],
       [1.70312000e+05, 1.95528600e+07, 1.14806121e+02],
       [1.49995000e+05, 1.28821350e+07, 8.58837628e+01]])

In [35]:
info.T

,California,Texas,New York,Florida,Illinois
area,4.239670e+05,6.956620e+05,1.412970e+05,1.703120e+05,1.499950e+05
population,3.833252e+07,2.644819e+07,1.965113e+07,1.955286e+07,1.288214e+07
density,9.041393e+01,3.801874e+01,1.390767e+02,1.148061e+02,8.588376e+01

In [36]:
info.values[2]

array([1.41297000e+05, 1.96511270e+07, 1.39076746e+02])

In [37]:
info['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

## 2. Indexing in Dataframe (Indexers: loc, iloc)

### A. loc()

In [38]:
info.loc['Illinois', 'population']

12882135

In [39]:
info.loc[:'Illinois', :'population']

              area  population
California  423967    38332521
Texas       695662    26448193
New York    141297    19651127
Florida     170312    19552860
Illinois    149995    12882135

### B. iloc()

In [40]:
info.iloc[:3, :3]

              area  population     density
California  423967    38332521   90.413926
Texas       695662    26448193   38.018740
New York    141297    19651127  139.076746

In [41]:
info.iloc[0, 2] = 90

info

              area  population     density
California  423967    38332521   90.000000
Texas       695662    26448193   38.018740
New York    141297    19651127  139.076746
Florida     170312    19552860  114.806121
Illinois    149995    12882135   85.883763