# Handling Missing Data

Pandas treats ``None`` and ``NaN`` as essentially interchangeable for indicating missing or null values.
To facilitate this convention, there are several useful methods for detecting, removing, and replacing null values in Pandas data structures.
They are:

- ``isnull()``: Generate a boolean mask indicating missing values
- ``notnull()``: Opposite of ``isnull()``
- ``dropna()``: Return a filtered version of the data
- ``fillna()``: Return a copy of the data with missing values filled or imputed

## 1. Detecting null values
Pandas data structures have two useful methods for detecting null data: ``isnull()`` and ``notnull()``.

In [2]:
import numpy as np
import pandas as pd

In [4]:
data = pd.Series([1, 'a', np.nan, 'hello', None])

In [5]:
data.isnull()

0    False
1    False
2     True
3    False
4     True
dtype: bool

In [6]:
data.notnull()

0     True
1     True
2    False
3     True
4    False
dtype: bool

## 2. Dropping null values

In [7]:
df = pd.DataFrame([[1,      np.nan, 2],
                   [2,      3,      5],
                   [np.nan, 4,      6]])
df

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

We cannot drop single values from a ``DataFrame``; we can only drop full rows or full columns.

In [8]:
df.dropna()

     0    1  2
1  2.0  3.0  5

 ``axis=1`` drops all columns containing a null value:

In [9]:
df.dropna(axis='columns')

   2
0  2
1  5
2  6

## 3. Filling null values
The ``fillna()`` method returns a copy of the array with the null values replaced.

Consider the following ``Series``:

In [10]:
info = pd.Series([1, np.nan, 2, None, 3], index=list('abcde'))

info

a    1.0
b    NaN
c    2.0
d    NaN
e    3.0
dtype: float64

In [11]:
info.fillna(4)

a    1.0
b    4.0
c    2.0
d    4.0
e    3.0
dtype: float64

In [18]:
# forward-fill in series
print(data)
data.fillna(method='ffill')

0        1
1        a
2      NaN
3    hello
4     None
dtype: object

0        1
1        a
2        a
3    hello
4    hello
dtype: object

In [12]:
# back-fill in series

data.fillna(method='bfill')

0        1
1        a
2    hello
3    hello
4     None
dtype: object

In [13]:
# fill by ststistical value

df

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [14]:
df.fillna(df.mean())

     0    1  2
0  1.0  3.5  2
1  2.0  3.0  5
2  1.5  4.0  6

In [15]:
# forward-fill in dataframe

df.fillna(method='ffill', axis=1)

     0    1    2
0  1.0  1.0  2.0
1  2.0  3.0  5.0
2  NaN  4.0  6.0